<%= button_to "Refresh", sh_url, :method => :get %>
<h1>Rails says:</h1>

<h2>Hello world!</h2>

<h3>Ask Rails to say:</h3>
<%= button_to "Goodbye", sb_url, :method => :get %>
<p>or go back to:</p>
<%= button_to "Home Page", wi_path, :method => :get %>



