<h3>Ask rails to say something!</h3>
<%= button_to "Hello", sh_url, :method => :get %>
<%= button_to "Goodbye", sg_url, :method => :get %>
<p>wana see some more routes :D</p>
<%= button_to "Features", sf_path, :method => :get %>
<p>Or try out my nifty background picker app!</p>
<%= button_to "Background Selector", cc_path, :method => :get %>
