<h3>Ask rails to say something!</h3>
<%= button_to "Hello", sh_url, :method => :get %>
<%= button_to "Goodbye", sg_url, :method => :get %>
<p>See more?</p>
<%= button_to "Routes", sf_path, :method => :get %>
<%= button_to "Background Selector", cc_path, :method => :get %>
