<h3>Ask rails to say something!</h3>
<%= button_to "Hello", sh_url, :method => :get %>
or
<%= button_to "Bye", sg_url, :method => :get %>
<p>if buttons make you nervous, you can always just click <%= link_to "hello", sh_path %> or <%= link_to "goodbye", sg_path %></p>

