<%= button_to "Refresh", wi_url, :method => :get %>
<h1>Welcome to Ethan's little routing application!</h1>
<br>
<br>

<h3>Ask rails to say:</h3>
<%= button_to "Hello", sh_url, :method => :get %>
<%= button_to "Bye", sg_url, :method => :get %>
