<h3>Select a theme for the background color for this box!</h3>

<button class="red">Red</button>
<button class="blue">Blue</button>
<button class="black">Black</button>
<button class="green">Green</button>
<button class="pink">Pink</button>
<button class="purple">Purple</button>
<button class="yellow">Yellow</button>
<br>
<br>
<%= button_to "Back", wi_path, :method => :get %>
