<h1>This Area demonstrates simple linking</h1>

<p>Please select your destination from the list below</p>
<%= button_to "Route 1", dr1_path, :method => :get %>
<%= button_to "Route 2", dr2_path, :method => :get %>
<%= button_to "Route 3", dr3_path, :method => :get %>
<%= button_to "Route 4", dr4_path, :method => :get %>

