/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {

/*adds the bg image, with a secondary backgound as #000 for overflow
*/	background-image: url(mountain.jpg);
	background-repeat: no-repeat;
	background-color: black;
}
#container {
/*	container styling
*/	position: relative;
	top: 100px;
	width: 600px;
	height: 500px;
	color: purple;
	background-color: rgba(0,0,0, .8);
	box-shadow: 10px 10px 30px #000;
	margin: 0 auto;
	margin-bottom: 300px;
	padding: 30px;
}
#mainPic {
	border-radius: 9px;
	height: 140px;
	margin-bottom: 5px;
	width: auto;
}




