a, a:visited {
	font-size: 30px;
	color: green;
}
.greenPad {
	text-align: center;
	border-radius: 5px;
	background-color: lightgreen;
	padding: 14px
}
#timeStamp {
	position: relative;
	bottom: -260px;
	right: -45px;

}
body {
	color: green;
	background-image: url(mountain.jpg);
	background-repeat: no-repeat;
	background-color: #000;
}
#container {
	padding: 35px;
	height: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
	margin: 0 auto;
}

